@import url(__global.css);

.row.mb-5 {
    margin-top: 3rem;
}

.col-lg-12.card,
.col-lg-6.card {
    /* margin: 10px; */
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

table {
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}