.row.mb-5 {
    margin-top: 3rem;
}

.card {
    display: inline-flex;
}

.card canvas {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

table {
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}